body { 
    font-family: consolas, sans-serif;
    margin: 0;
    background: #202224;
    color: whitesmoke;
}

nav {
    background: #333;
    padding: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    color: #ddd;
}

main {
    margin: 40px;
}

code {
    background: #333;
    padding: 0.2rem;
    border-radius: 0.2rem;
}

div {
    margin: 1rem 0;
    text-align: start;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}