<!DOCTYPE html>
<html>
<head>
    <title>Go Tutorial</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <nav>
        {{range .Navigation.Routes}}
            <a href="{{.Path}}">{{.Name}}</a>
        {{end}}
    </nav>
    <main>
        <h1>{{.Title}}</h1>
        <pre>{{.Body}}</pre>
        <h2>Examples:</h2>
        {{range .Examples}}
            <div class="code-box">
                <code>{{.}}</code>
            </div>
        {{end}}
    </main>
</body>
</html>